#map {
    height: 100%;
}

.startPageHeader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 99px;
    z-index: 10;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.startPageHeaderLogo {
    font-weight: 600;
    font-size: 25px;
}

.startPageHeaderButtonleft {
    height: 100%;
    width: 20vw;
    border: none;
    background-color: white;
    border-right: 1px solid;
}

.startPageHeaderButtonRight {
    height: 100%;
    width: 20vw;
    border: none;
    background-color: white;
    border-left: 1px solid;
}

.startPageHeader button:active {
    background-color: black;
    color: white;
}

/*------------------------------------------------------------*/
.startPageMain {
    position: absolute;
    top: 100px;
    bottom: 0;
    width: 100%;
}
.startPageMainScroll{
    position: absolute;
    top: 0;
    bottom: 100px;
    width: 100%;
    overflow: scroll;
}
/*------------------------------------------------------------*/


.startPageMainDisplayBox {
    display: grid;
    grid-template-columns: 20vw 1fr;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

.startPageMainDisplayStopNrbox {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
    height: 99%;

}

.startPageMainDisplayStopNameBox {
    padding: 10px;
}

/*------------------------------------------------------------*/
.startPageMainDisplayText {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    border-bottom: 2px solid;
    font-weight: 600;
}
.pageMainRouteOptions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.pageMainRouteOptions button {
    border: 1px solid black;
    background-color: white;
    padding: 5px;
}

.pageMainRouteOptions button:active {
    border: 1px solid black;
    background-color: black;
    color: white;
}

/*------------------------------------------------------------*/
.startPageMainAddInputBox {
    position: absolute;
    height: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid black;
}

.startPageMainAddInputBox button {
    height: 100%;
    background-color: white;
    border: none;
}

.startPageMainAddInputBox button:active {
    color: white;
    background-color: rgb(0, 0, 0);
}

.destinationConfirmBox{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.destinationConfirmBox button{
    border: 1px solid;
    width: 45%;
    height: 80%;
}

.destinationSearchBox{
    height: 100%;
    display: grid;
    grid-template-columns: 8fr 2fr;
    align-items: center;
}

.destinationSearchInput{
    height: 99%;
    text-align: center;
    border: none;
    border-right: 1px solid black;
}

.destinationSearchButton{
    height: 100%;
    width: 100%;
    border: none;
    background-color: white;
}